.text-center {
    text-align: center;
}

a {
    color: cornflowerblue;
}

.button {
    background-color: cornflowerblue;
    border-color: black;
}

input[type="text"] {
    border-color: darkgray;
}

input[type="text"]:disabled {
    border-color: lightgray;
}

input[type="text"]:focus {
    border-color: cornflowerblue;
}

select {
    border-color: darkgray;
    background: none;
}

select:focus {
    border-color: cornflowerblue;
    background: none;
}